
    <!-- <preference name="android-build-tool" value="gradle" /> -->

    <!-- versionCode is optional and Android only -->
    <preference name="DisallowOverscroll" value="true" />


    <!-- <gap:plugin name="cordova-plugin-admob" source="npm" /> -->
    <!-- <plugin name="cordova-plugin-admob" spec="2.16.1"/> --> <!-- merge ADMOB pe iOS si tot, fara el. -->
    <!-- <gap:plugin name="cordova-admob" source="npm"/> -->
    <!-- <framework src="com.google.android.gms:play-services-ads:+" /> -->

    <name>Flappy Cristi</name>

    <description>
        Flappy Cristi description
    </description>

    <author href="https://build.phonegap.com" email="support@phonegap.com">
        Mihnea
    </author>

<gap:plugin name="org.apache.cordova.core.Device"/>
